.dark {
    --background: 30, 33, 36;
    --card-background: 54, 57, 62;
    --border: 66, 69, 73;

    --text-main: 255, 255, 255;
    --text-muted: 209, 213, 219;

    background: rgba(var(--background));
}

.light {
    --background: 255, 255, 255;
    --card-background: 190, 190, 190;
    --border: 200, 200, 200;
    
    --text-main: 0, 0, 0;
    --text-muted: 50, 50, 50;

    background: rgba(var(--background));
}