.light {
    --background: 255, 255, 255;
    --border: 200, 200, 200;
    --card-background: 190, 190, 190;
    
    --text-main: 0, 0, 0;
    --text-muted: 50, 50, 50;

    background: rgba(var(--background));
}

.dark {
    --background: 17, 17, 17;
    --border: 34, 34, 34;
    --card-background: 34, 34, 34;

    --text-main: 255, 255, 255;
    --text-muted: 209, 213, 219;

    background: rgba(var(--background));
}

.pastel {
    --background: 255, 204, 204;
    --border: 255, 178, 178;
    --card-background: 255, 178, 178;

    --text-main: 50, 50, 50;
    --text-muted: 100, 100, 100;

    background: rgba(var(--background));
}