---
import Layout from "../layouts/Layout.astro";
import AnimatedScroll from "../components/AnimatedScroll";
import Discord from "../components/Discord";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Hello, I'm ophx!">
	<!-- navbar -->
	<Navbar />

	<!-- hero -->
	<AnimatedScroll client:load>
		<div class="w-full px-16 pb-40 pt-72">
			<div class="flex space-between justify-center gap-24">
				<div class="space-y-4">
					<span class="rounded-full border border-blue-700 text-white px-4 py-0.5 text-sm font-medium">What do you want stalker...</span>
					<p class="text-white text-5xl font-medium">Hello! I'm ophx! 👋</p>
					<p class="text-gray-300 text-xl">I'm an 18 year old <i>"developer"</i> from Flint, Michigan.</p>
					<div class="flex items-center gap-4">
						<a href="https://t.me/ophxthemushroom" target="_blank" class="text-white px-8 py-2 rounded-lg shadow-lg bg-[#222] bg-opacity-50 border border-[#222] duration-200 hover:opacity-65 font-medium">Contact Me</a>
						<button onclick="clickMe()" class="text-white px-8 py-2 rounded-lg shadow-lg bg-blue-700 duration-200 border border-[#222] hover:opacity-65 font-medium">Click Me</button>
					</div>
				</div>
				<div>
					<img src="scary.png" alt="scary D:" class="h-[14rem] w-[14rem] rounded-full shadow-lg" draggable="false" />
				</div>
			</div>
			<div class="flex justify-center animate-bounce pt-8">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-8 fill-white">
					<path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
				</svg>                  
			</div>
		</div>
	</AnimatedScroll>

	<!-- skills -->
	<AnimatedScroll client:load>
		<div id="skills" class="w-full gap-4 px-16 pb-40 pt-40 text-center flex justify-center">
			<div class="space-y-4">
				<p class="text-white text-5xl font-medium">What is my skills?</p>
				<p class="text-gray-300 text-xl">Lorem ipsum dolor sit amet!</p>
				<div class="mt-4 mb-4 border-b border-[#333]"></div>
				<div class="grid grid-cols-2 w-[800px] gap-4">
					<div class="relative rounded-lg shadow-lg bg-[#222] border border-[#222] bg-opacity-50 px-8 py-4 w-96">
						<div class="absolute inset-0 opacity-35 bg-[url(https://ophxthemushroom.pages.dev/react.svg)] bg-no-repeat bg-right-top bg-contain blur"></div>
						<div class="relative z-10 space-y-4">
							<p class="text-left text-3xl font-medium text-white">Web Development</p>
							<p class="text-left text-gray-300">I have been messing with web development ever since I was 9 years old. I first started with just HTML and CSS but then moved onto frameworks like React, Svelte, ect.</p>
						</div>
					</div>
					<div class="relative rounded-lg shadow-lg bg-[#222] border border-[#222] bg-opacity-50 px-8 py-4 w-96">
						<div class="absolute inset-0 opacity-35 bg-[url(https://ophxthemushroom.pages.dev/discord.svg)] bg-no-repeat bg-right-top bg-contain blur"></div>
						<div class="relative z-10 space-y-4">
							<p class="text-left text-3xl font-medium text-white">Bot Development</p>
							<p class="text-left text-gray-300">I make Discord/Telegram bots occasionally. It's fun tbh I like it lol. I've been working on a Fortnite skin checker bot for Discord last few weeks tho.</p>
						</div>
					</div>
					<div class="relative rounded-lg shadow-lg bg-[#222] border border-[#222] bg-opacity-50 px-8 py-4 w-96">
						<div class="absolute inset-0 opacity-35 bg-[url(https://ophxthemushroom.pages.dev/cpp.svg)] bg-no-repeat bg-right-top bg-contain blur"></div>
						<div class="relative z-10 space-y-4">
							<p class="text-left text-white text-3xl font-medium">Cheat Development</p>
							<p class="text-left text-gray-300">I used to mess around with making cheats for online games. But, a few months ago I completely quit. It's a real pain in the ass lmao.</p>
						</div>
					</div>
					<div class="relative rounded-lg shadow-lg bg-[#222] border border-[#222] bg-opacity-50 px-8 py-4 w-96">
						<div class="absolute inset-0 opacity-35 bg-[url(https://ophxthemushroom.pages.dev/shroom.svg)] bg-no-repeat bg-right-top bg-contain blur"></div>
						<div class="relative z-10 space-y-4">
							<p class="text-left text-white text-3xl font-medium">Growing Shrooms</p>
							<p class="text-left text-gray-300">Since December of 2023, I have been growing shrooms non stop (yes, the magic ones). I love it, it's fun for me. I grow B+, Blue Meanie, Penis Envy, and ALOT more.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</AnimatedScroll>

	<!-- discord spotify status -->
	<Discord client:load />

	<!-- footer -->
	<Footer />
</Layout>

<script is:inline>
	function clickMe() {
		window.open("https://www.youtube.com/watch?v=xvFZjo5PgG0", "_blank");
	}
</script>