---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects">
    <p class="text-text-main"> - This website</p>
    <p class="text-text-main"> - Lumina (Internal CS2 Cheat - Free &amp; Paid)</p>
    <p class="text-text-main"> - Sparkle (A Fortnite skin checker bot)</p>
</Layout>