---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Skills">
	<p class="text-text-main"> - C++</p>
    <p class="text-text-main"> - Rust</p>
    <p class="text-text-main"> - Python</p>
    <p class="text-text-main"> - Ruby</p>
    <p class="text-text-main"> - Kotlin</p>
    <p class="text-text-main"> - JavaScript/TypeScript</p>
    <p class="text-text-main"> - HTML</p>
    <p class="text-text-main"> - CSS</p>
</Layout>