<div class="shadow-lg bg-card-background/50 border border-border px-8 py-4">
    <div class="w-[800px] mx-auto">
        <p class="text-text-muted text-sm text-center">&copy; ophxywoxy 2025 &mdash; All Rights Reserved</p>
    </div>
</div>