---
const year = new Date().getFullYear();
---

<div class="shadow-lg bg-card-background/50 backdrop-blur-lg border-t border-border px-8 py-4">
    <div class="w-[800px] mx-auto">
        <p class="text-text-muted text-sm text-center">&copy; ophxywoxy {year} &mdash; All Rights Reserved</p>
    </div>
</div>