<div class="shadow-lg bg-[#222] border border-[#222] bg-opacity-50 px-8 py-4">
    <div class="w-[800px] mx-auto">
        <p class="text-gray-300 text-sm text-center">&copy; ophxywoxy 2025 &mdash; All Rights Reserved</p>
    </div>
</div>