<div
    class="fixed left-0 right-0 top-4 z-10 m-auto flex items-center justify-between w-[1200px]"
>
    <p class="flex items-center gap-2">
        <img
            src="/logo.png"
            alt="logo"
            width="50"
            height="50"
            draggable="false"
            class="rounded-full shadow-lg"
        />
    </p>
    <div class="gap-2 flex items-center">
        <a
            href="/"
            class="text-text-muted hover:text-text-main duration-200 px-4 border-b-2 border-transparent hover:border-white/50"
            >Home</a
        >
        <a
            href="/projects"
            class="text-text-muted hover:text-text-main duration-200 px-4 border-b-2 border-transparent hover:border-white/50"
            >Projects</a
        >
        <a
            aria-disabled="true"
            class="text-text-muted hover:text-text-main duration-200 px-4 border-b-2 border-transparent hover:border-white/50"
            >Skills (soon)</a
        >
    </div>
</div>

<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
        const links = document.querySelectorAll("a");

        links.forEach((link) => {
            const href = link.getAttribute("href");
            const isDisabled = !href || link.getAttribute("aria-disabled") === "true";

            if (isDisabled) {
                link.classList.remove("hover:border-white/50", "hover:text-text-main");
                link.classList.add("cursor-not-allowed", "opacity-50");
            } else if (href === window.location.pathname) {
                link.classList.add("text-text-main", "border-white/50");
                link.classList.remove("text-text-muted");
            }
        });
    });
</script>