<div class="flex items-center justify-between w-full">
    <a href="/" class="text-text-muted hover:text-text-main duration-200 px-4 border-b-2 border-transparent hover:border-blue-500">Home</a>
    <a href="/projects" class="text-text-muted hover:text-text-main duration-200 px-4 border-b-2 border-transparent hover:border-blue-500">Projects</a>
    <a href="/skills" class="text-text-muted hover:text-text-main duration-200 px-4 border-b-2 border-transparent hover:border-blue-500">Skills</a>
    <a href="/contact" class="text-text-muted hover:text-text-main duration-200 px-4 border-b-2 border-transparent hover:border-blue-500">Contact</a>
</div>

<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
        const links = document.querySelectorAll("a[href]");
        const currentPath = window.location.pathname;
  
        links.forEach(link => {
            const href = link.getAttribute("href");
            if (href === currentPath) {
                link.classList.add("text-blue-500", "border-blue-500");
                link.classList.remove("text-text-muted");
                link.classList.remove("hover:text-text-main");
            }
        });
    });
</script>