<div class="relative left-0 right-0 top-8 m-auto flex items-center justify-between rounded-lg shadow-lg bg-[#222] border border-[#222] bg-opacity-50 px-8 backdrop-blur-lg w-[800px] py-2">
    <a href="/" class="flex items-center gap-2">
        <img src="https://cdn3.emoji.gg/emojis/9879_hackerman.gif" alt="logo" width="50" height="50" draggable="false" />
    </a>
    <div class="gap-8 flex items-center">
        <a href="/#skills" class="text-white duration-200 hover:opacity-65">Skills</a>
        <a href="https://github.com/ophx/ophx-personal-website" target="_blank" class="text-white px-8 py-2 rounded-lg shadow-lg bg-blue-700 duration-200 hover:opacity-65 font-medium">Source Code</a>
    </div>
</div>