---
interface Props {
	title: string;
}

const { title } = Astro.props;

const isMobile = () => {
    if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
        return true;
    }

    return false;
}
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="title" content="Hello, I'm ophx!">
		<meta name="description" content="This is my personal website." />
		<meta property="og:title" content="Hello, I'm ophx!">
		<meta property="og:description" content="This is my personal website." />
		<meta property="og:image" content="/logo.jpg" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/jpg" href="/logo.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-[#111]">
		{isMobile() ? (<p class="text-white text-center text-4xl">mobile isnt supported right now. sorry...</p>) : (<slot />)}
	</body>
</html>